@font-face {
    font-family: "FinnairSans";
    src: url("./fonts/FINNAIRSANSBOLD.OTF") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FinnairSansHeader";
    src: url("./fonts/FINNAIRSANSBOLD.OTF") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FinnairSansLight";
    src: url("./fonts/FINNAIRSANSLIGHT.OTF") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

.title {
    font-family: "FinnairSans", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 48px;
    padding-left: 40%;

    padding-right: 10%;
}
.WebTitle {
    font-family: "FinnairSans", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 48px;

    padding-left: 30px;

}

.heading {
    font-family: "FinnairSansHeader", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 20px;
    padding-left: 40%;

    padding-right: 10%;
}

strong {
    font-family: "FinnairSansHeader", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 20px;

}


.paragraph {
    font-family: "FinnairSansLight", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 20px;
    padding-left: 40%;

    padding-right: 10%;
    margin-bottom: 5px;
}

.date {
    font-family: "FinnairSansLight", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 20px;
    padding-left: 40%;

    padding-right: 10%;
    margin-bottom: 1px;
    padding-top: 2%;
    margin-top: 30px;
}
.sitemap {
    font-family: "FinnairSansLight", sans-serif;
    color: rgb(12, 2, 67);
    font-weight: bold;
    font-size: 16px;
    padding-left: 30px;
}


a {

    font-size: 20px;
    padding-left: 40%;

    padding-right: 10%;
    margin-bottom: 5px;
}



/* Base color for the first rectangle */
.top {
    width: 100%;
  height: 2.5%;
  background-color: rgb(12, 2, 67); 
  padding-top: 0%;
  top: 0;
  border: none;   /* Removes the border entirely */
  padding: 0;
}
